html {
    background-image: url(Trip.gif);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img1 {
    width: 128px;
    height: 128px;
    vertical-align: middle;
    margin-top: 2%;
    margin-left: 2%;
}

.container1 {
    margin-left: 2%;
    border: black;
    border-style: dotted;
    margin-top: 2%;
    margin-right: 2%;
}

.container2 {
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.left {
    left: 0;
}
  
.right {
    right: 0;
}

.text1 {
    font-size: 20px;
    height: 450px;
    margin-left: 2%;
    margin-right: 2%;
}

.icon {
    height: 12px;
    width: 12px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
}
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    margin-top: 2%;
}

.text2 {
    display: inline; 
    margin-left: 2%;
    border: black;
    border-style: groove;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.text3 {
    font-size: 20px;
    height: 250px;
    margin-left: 2%;
    margin-right: 2%;
}

p {
    color: blueviolet;
}

button {
    padding: 10px 24px;
    border-radius: 8px;
    margin-left: 2%;
    vertical-align: right;
}

button:hover {
    background-color: black;
    color: white;
  }

input {
    border-radius: 8px;
}

.input2 {
    font-size: 15px;
    height: 250px;
    width: 500px;
    margin-left: 2%;
    margin-right: 2%;
    border: black;
    border-style: double;
    background: none;
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}